<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Discord | Fail </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <div class="container">
        <h3> Fail </h3>
        <p> The integration process has failed, this can be due to incorrect username and discriminator or another error. </p>
    </div>

</body>
</html>