<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Discord | Fail </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="container">
    <h3> Success </h3>
    <p> You have successfully linked your WHMCS account with Discord. </p>
    <br>
    <p> <strong>Username:</strong> <u><%= username %></u></p>
    <p> <strong>Discriminator:</strong> <u><%= discriminator %></u></p>
</div>

</body>
</html>